.home-form {
	width : 40%;
	padding : 30px;
	float : right;
	margin-right : 50px;
	margin-top : 150px;
	border-radius : 2px;
	background-color : #001641;
	box-shadow : 10px 25px #22222280;
	margin-bottom : 50px;
}

.home-form input {
	font-family : 'Monospace'
}

.home-form label{
	font-family : 'Monospace';
	font-weight : 900;
	color : #ED0A00;
	margin : 8px;
	margin-top : 50px;
}

.home-form input[type='text'] ,input[type='password']{
	display : block;
	padding : 8px;
	width : 100%;
	color : #ffffff;
	border : None;
	background : transparent;
	border-bottom : 2px solid #ED0A00;
}

.home-form input[type='submit']{
	width : 48%;
	padding : 8px;
	margin-top : 36px;
}

.home-form button {
	width : 48%;
	padding : 8px;
	margin-left : 12px;
	margin-top : 36px;
}

.home-form input[type='text']:focus, input[type='password']:focus {
	background : transparent;
	border : none;
	border-bottom : 2px solid black;
}


.home-form #submit {
	float : right;
}

.home-form select {
	border : none;
	border-bottom : 2px solid #ED0A00;
	background : transparent;
	width : 100%;
}

.registration {
	margin-top : 50px;
}

.registration::-ms-expand {
	display : none;
} 

.registration select {
	/* Getting rid of the arrow button */
	margin-top : 50px;
	-webkit-appearance : none;
	appearance : none;
	font-family : 'Monospace';
	color : #ffffff;
}


body {
  	background-image: url('http://localhost:9000/static/img/background.jpg');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100% 100%;
}
