.student_login{
	width : 40%;
	padding : 30px;
	float : right;
	margin-right : 50px;
	margin-top : 150px;
	border-radius : 2px;
	background-color : #001641;
	box-shadow : 10px 25px #22222280;
}

.student_login label{
	font-family : 'Monospace';
	font-weight : 900;
	color : #ED0A00;
	margin : 8px;
}

.student_login input[type='text'] {
	display : block;
	padding : 8px;
	width : 100%;
	color : #ffffff;
	border : None;
	background : transparent;
	border-bottom : 2px solid #ED0A00;
}

.student_login input[type='submit']{
	width : 48%;
	padding : 8px;
	margin-top : 36px;
}

.student_login #register {
	width : 48%;
	padding : 8px;
	margin-top : 36px;
}

.student_login input:focus {
	background : transparent;
	border : None;
	border-bottom : 2px solid black;
}


.student_login #submit {
	float : right;
}

body {
  	background-image: url('http://localhost:9000/static/img/background.jpg');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100% 100%;
}
